<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuthorDSLib.Properties.Settings.DCV_DBConnectionString"
            connectionString="Data Source=PALPATINE;Initial Catalog=DCV_DB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>