<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection"
         connectionString="Data Source=localhost;
                           Integrated Security=SSPI;
                           Initial Catalog=DCV_DB;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
